* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #333;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*NAVBAR*/
#logo {
  display: flex;
  justify-content: center;
}

#logo img {
  width: 10rem;
}

#headerHome ul {
  display: flex;
  justify-content: space-around;
  background-color: #be9b55;
  padding: 1rem;
}

#headerHome li {
  cursor: pointer;
  font-size: 0.9rem;
}

#headerHome li:hover {
  color: white;
}

/*HOME*/

#sectionHome h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/pictures/Colchis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2rem;
  text-align: center;
  color: rgb(236, 208, 114);
  text-shadow: 1px 1px rgb(0, 0, 0);
  height: 10rem;
}

/*RESPONSIVE*/
@media screen and (min-width: 700px) {
  /*NAVBAR*/

  #logo img {
    width: 15rem;
  }

  #headerHome li {
    font-size: 1rem;
  }

  /*HOME*/

  #sectionHome h1 {
    background-image: url(./assets/pictures/Colchis.jpg);
    font-size: 3.5rem;
    color: rgb(236, 208, 114);
    text-shadow: 1px 1px rgb(0, 0, 0);
    height: 25rem;
  }
}
